In [2]:
def factorial(n):
    '''reutrn n!'''
    return 1 if n < 2 else  n * factorial(n-1)

factorial(42)

1405006117752879898543142606244511569936384000000000

In [3]:
print(factorial.__doc__)

reutrn n!

In [4]:
fact = factorial
fact

In [5]:
fact(5)

120

In [6]:
map(factorial, range(11))

In [8]:
list(map(fact, range(11)))

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

# 高阶函数

In [14]:
def reverse(word):
    return word[::-1]


reverse("testing")

'gnitset'

In [16]:
sorted(["strawberry", "fig", "apple", "cherry"], key=reverse)

['apple', 'fig', 'strawberry', 'cherry']